PORT=3001
IDENTITY_SERVICE_URL=http://localhost:3101
BILLING_SERVICE_URL=http://localhost:3102
CAPTURE_SERVICE_URL=http://localhost:3103
NOTIFICATION_SERVICE_URL=http://localhost:3104
REPORT_SERVICE_URL=http://localhost:3105
